### Tuples

In [2]:
#creating a tuple
name = ()
print(type(name))

<class 'tuple'>

In [3]:
#alternate way to create tuple
empty_tuple= tuple()
print(type(empty_tuple))

#alternate way to create a list
empty_list=list()
print(type(empty_list))

<class 'tuple'>
<class 'list'>

In [5]:
#converting a list into tuple
number = tuple([1,2,3,4,5,6])
print(number)

(1, 2, 3, 4, 5, 6)

In [ ]:
#accessing tuple elements
print(number[0])
# similar indexing as list
#similar slicing as list

1

In [ ]:
#tuple operations
mixed= ("apple","banana")
concatenated_tuple= number+mixed
print(concatenated_tuple)

print(concatenated_tuple*4)
print(mixed.count("apple"))

(1, 2, 3, 4, 5, 6, 'apple', 'banana')
(1, 2, 3, 4, 5, 6, 'apple', 'banana', 1, 2, 3, 4, 5, 6, 'apple', 'banana', 1, 2, 3, 4, 5, 6, 'apple', 'banana', 1, 2, 3, 4, 5, 6, 'apple', 'banana')
1

In [ ]:
#elements inside tuple are immutable it cannot be changed
lst1=(1,2,3,4,5,6)

# lst1[0]=8# this line will give error

# it cannnot be changed you can change the elements by first 
# converting them into list then again into tuples

In [ ]:
#typle methods
#any method like insert , append will not work here because it cannot be changed
lst1=(1,2,3,4,5,5,4,3,2,1,5,6,7,8,5,2,1,4,3)
print(lst1.count(3))
print(lst1.index(5))
print(max(lst1))
print(min(lst1))
print(sum(lst1)) 
#we can also calculate the maximum ,minimum and the sum of a given list

3
4
8
1
71

In [ ]:
#packing and unpacking

packed_tuple="apple",2,3,5,"hello" #by default this will be considered as tuple
#this is packing
print(packed_tuple)

('apple', 2, 3, 5, 'hello')

In [ ]:
#unpacking a tuple
#this is when we know how many elements are there in the tuple
a,b,c,d,e=packed_tuple
print(a)
print(b)
print(c)
print(d)
print(e)

apple
2
3
5
hello

In [ ]:
#unpacking with *
a,*b,c=packed_tuple
print(a)
print(b)
print(c)

apple
[2, 3, 5]
hello

In [ ]:
#nested list
lst=[1,2,3,[4,5,6],7,8,[9,10,[11]]]
print(lst[3][2])
# simillarly nested tuples can be created

6